{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="bg-blue-500 text-2xl text-center font-bold">Woohoo</h1>

    <img src="{{ asset('build/images/image.7d1de218.jpg') }}" alt="">
{% endblock %}